<p id="notice"><%= notice %></p>

<%= link_to 'Edit Profile', edit_user_registration_path %>
<br />

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Drivers License:</strong>
  <%= @user.drivers_license %>
</p>

<br />
<% if @user.rides.count > 0 %>
  <h2>My Rides</h2>
  <table>
    <thead>
    <tr>
      <th>Driver</th>
      <th>Seats Available</th>
      <th>Destination</th>
      <th>Pickup</th>
      <th>Departure</th>
      <th>Arrival</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @user.rides.each do |ride| %>
      <tr>
        <td><%= ride.user.name %></td>
        <td><%= ride.available_seats > 0 ? ride.available_seats : "FULL" %></td>
        <td><%= ride.destination %></td>
        <td><%= ride.pickup %></td>
        <td><%= ride.departure %></td>
        <td><%= ride.arrival %></td>
        <td><%= link_to 'View Ride', ride %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>


<%= link_to 'View All Rides', rides_path %>
