<p id="notice"><%= notice %></p>

<h2>Rides</h2>

<table>
  <thead>
    <tr>
      <th>Driver</th>
      <th>Seats</th>
      <th>Destination</th>
      <th>Pickup</th>
      <th>Departure</th>
      <th>Arrival</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rides.each do |ride| %>
      <tr>
        <td><%= ride.user.name %></td>
        <td><%= ride.available_seats > 0 ? ride.available_seats : "FULL" %></td>
        <td><%= ride.destination %></td>
        <td><%= ride.pickup %></td>
        <td><%= ride.departure %></td>
        <td><%= ride.arrival %></td>
        <td><%= link_to 'View Ride', ride %></td>
        <% if user_signed_in? and !ride.users.include?(current_user) and ride.available_seats > 0 %>
          <td><%= link_to 'Join Ride', join_ride_path(ride), method: :post %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
  <%= link_to 'New Ride', new_ride_path %>
<% end %>